table{
    border: 1px solid black;
    background-color: rgba(5, 102, 131, 0.774);
    justify-self: center;

}
td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1px;
}
.df{
    border: 1px solid black;
    background-color: rgb(62, 23, 99);
    border-collapse: collapse;
    padding: 1px;
    width: 4px;
}